[submodule "article_code/Draft_Rain_Occurrence_Modeling_Antoine_Doize"]
	path = article_code/Draft_Rain_Occurrence_Modeling_Antoine_Doize
	url = https://github.com/antoinedoize/Draft_Rain_Occurrence_Modeling_Antoine_Doize.git
